/* Estilos generales para el contenedor principal */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  /* Estilos para la sección de imágenes */
  .image-section {
    width: 85%;
    margin-right: 0.1rem; /* Ajusta el margen derecho según sea necesario */
  }
  
  .image-section img {
    width: 100%;
    height: 100%;/* Ajusta el ancho máximo según sea necesario */
    border-radius: 5px; /* Añade bordes redondeados a la imagen si lo deseas */
  }
  
  /* Estilos para el formulario de inicio de sesión */
  .login-form {
    text-align: center;
  }
  
  .login-form img.logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
  }
  
  .login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el enlace de registro */
  .login-form a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .login-form a:hover {
    color: #555;
  }
  